<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        © Живо Арт, 2017.
      </div>
      <div class="col-12 col-md-5"><small><img class="footer-icon" src="/assets/img/icons/viber-logo.svg" alt="">8 978 013-61-53 / 8 926 086-53-00</small></div>

      <div class="col-sm-12 col-md-5"><small><a href="mailto:zhivo.art@gmail.com" style="color: #6e6e6e"><img class="footer-icon" src="/assets/img/icons/021-message-closed-envelope.svg" alt="">zhivo.art@gmail.com</a></small></div>


      <div class="col-12 col-md-2"><a target="_blank" href="https://www.instagram.com/zhivo.art/"><img class="footer-icon" src="/assets/img/icons/022-instagram-social-network-logo-of-photo-camera.svg" alt=""></a>
         <a href="https://www.facebook.com/jenia.kozin" target="_blank"><img class="footer-icon" src="/assets/img/icons/024-facebook-logo.svg" alt=""></a></div>
    </div>

      <div id="go-top">
        <a class="smoothscroll" title="Наверх" href="#top"><i class="fa fa-long-arrow-up"></i></a>
      </div>
    </div>
  </div>
</footer>


{{!--         

        <ul class="list-inline" style="text-align: right;">
          <li class="list-inline-item"><small><img src="/assets/img/icons/viber-logo.svg" style="height:1.32rem; padding: 0 1rem" alt="">8 978 013-61-53 / 8 926 086-53-00</small></li>
          <li class="list-inline-item"><small><a href="mailto:zhivo.art@gmail.com" style="color: #6e6e6e"><img src="/assets/img/icons/021-message-closed-envelope.svg" style="height:1.32rem; padding: 0 1rem 0" alt="">zhivo.art@gmail.com</a></small></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/zhivo.art/"><img src="/assets/img/icons/022-instagram-social-network-logo-of-photo-camera.svg" style="height:1.32rem; padding: 0 1rem 0" alt=""></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/jenia.kozin" target="_blank"><img src="/assets/img/icons/024-facebook-logo.svg" style="height:1.32rem; padding: 0 1rem 0" alt=""></a></li>
        </ul>
 --}}