<div class="card-columns">
  {{#each global.gallery_items}}
    <div class="card"><a href="{{this.url}}"><img src="/assets/img/works/{{this.img}}" alt="" class="card-img-top"></a></div>
  {{/each}}
</div>