<section class="container-fluid section-portfolio mt-5 mb-5"  id="portfolio">
	<div class="container">
	<div class="row">
 		<div class="col-md-12 mt-5 mb-5 section-intro">
 			<h6>Портфолио</h6>
 			<h3>Работы разных лет</h3>
 			<p class="mb-5">Полный солнца песчаник или брутальный сланец – арт-бетон способен имитировать практически любой камень. Может имитировать разные породы дерева и даже кожу и металлы. Арт-бетон гораздо пластичнее природных материалов и позволяет воплотить любую фантазию заказчика: скульптуры, арт-объекты, инсталляции. Композиции из арт-бетона излучают жизнь и привлекают внимание. </p>
       {{>gallery}}
 		</div>   		
 	</div> 
 	</div> 


	
</section> <!-- /portfolio --> 