<section id="intro" class="container-fluid">
	<div id="intro-bg"></div>
	<div id="intro-overlay"></div>
	<div class="intro-content container">
		<div class="row">
		<div class="col-12">
			<h5>{{global.company_title}}</h5>
			<p>{{{global.company_descr}}}</p>
			<a class="button stroke smoothscroll" href="#portfolio" title="">Подробнее</a>
		</div>
		</div>
	</div>
	{{!
	<ul class="intro-social">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-behance"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	</ul> <!-- /intro-social -->
	}}
</section> <!-- /intro -->	