<section class="container-fluid section-services">
	<div class="overlay"></div>
	<div class="container">
	<div class="row">
		<div class="col-md-12 section-intro">
 			<h6>Услуги</h6>
 			<h3>Как мы работаем</h3>
		</div>
		<div class="col-md-12 services-content">
		<div id="owl-slider" class="owl-carousel services-list">
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/019-nature.svg" alt=""></span>
		<div class="service-content">
		<h3>Только ручная работа</h3>
		<p class="desc">В изготовлении декораций мы вдохновляемся природой, ее многообразием и неповторимостью. Как в природе нет точных копий, так и наши объекты существуют в единственном экземпляре. Каждый предмет создается вручную.
		</p>

		</div>
		</div> <!-- /service -->
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/017-quality.svg" alt=""></span>
		<div class="service-content">
		<h3>Предсказуемый результат</h3>
		<p class="desc">Все этапы создания объектов регламентированы технологией. Элементы композиции приобретают очертания еще в каркасе. Для лепки и резьбы художники используют специальные инструменты. В нашей команде – только проверенные мастера, художники и скульпторы. 
		</p>
		</div>
		</div> <!-- /service -->
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/014-telescope.svg" alt=""></span>
		<div class="service-content">
		<h3>Внимание к деталям</h3>
		<p class="desc">Мы не начинаем проект, не побывав в месте, где будет установлена скульптура или инсталляция. Только там можно оценить их удобство для людей, учесть нюансы, связанные с общестроительными работами. Мы продаем реальные работающие объекты, а не картинки.
		</p>
		</div>
		</div> <!-- /service -->
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/027-column.svg" alt=""></span>
		<div class="service-content">
		<h3>Пластичность и гибкость</h3>
		<p class="desc">Сфера применения арт-бетона широка: от садовых скульптур и декора в частных домах до ландшафтных парков и конструктивных элементов зданий. Не важно, каких масштабов объект, мы внимательно выслушаем ваши пожелания и вместе с вами найдем лучшее решение.
		</p>

		</div>
		</div> <!-- /service -->
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/012-adaptation.svg" alt=""></span>
		<div class="service-content">
		<h3>Универсальный материал</h3>
		<p class="desc">Арт-бетон прочнее и долговечнее обычного бетона благодаря специальным добавкам и особому способу укладки связующего раствора. Устойчив к воздействию атмосферных осадков, эксплуатируется в диапазоне температур от -50 до +50, не разрушается ультрафиолетом.
		</p>
		</div>
		</div> <!-- /service -->
		<div class="service">
		<span class="icon"><img src="/assets/img/icons/020-worldwide.svg" alt=""></span>
		<div class="service-content">
		<h3>Широкая география</h3>
		<p class="desc">Объекты, выполненные нашей мастерской, можно увидеть в городах: Харьков, Свердловск (Украина), Москва, Челябинск. Екатеринбург, Ялта, Евпатория. 
		</p>
		</div>
		</div> <!-- /service -->
		</div> <!-- /services-list -->

		
		</div> <!-- /services-content -->
	</div>
	</div>
</section>