
/*
 * SlabsThin
================================================================================ */
/* font-family: "SlabsThin"; */
@font-face {
    font-family: "SlabsThin";
    src: url("../fonts/SlabsThin/SlabsThin.eot");
    src: url("../fonts/SlabsThin/SlabsThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SlabsThin/SlabsThin.woff") format("woff"),
    url("../fonts/SlabsThin/SlabsThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*
 * Museo Sans
================================================================================ */
/* font-family: "MuseoSansRegular"; */
@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MuseoSansBlack"; */
@font-face {
    font-family: "MuseoSansBlack";
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MuseoSansMedium"; */
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MuseoSansBold"; */
@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?25vmkc');
  src:  url('../fonts/icomoon/icomoon.eot?25vmkc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?25vmkc') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?25vmkc') format('woff'),
    url('../fonts/icomoon/icomoon.svg?25vmkc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
