footer {
	background-color: $black;
	padding: 6rem 0;
	position: relative;
	line-height: 2em;
	// font-size: 1.1rem;
}

.footer-icon {
	height:1.32rem; 
	padding: 0 1rem 0 0;
}
// footer .footer-social {
// 	display: inline-block;
// 	font-size: 2.1rem;
// 	margin: 0;
// 	padding: 0;
// 	position: relative;
// 	top: -.3rem;
// }
// footer .footer-social li {
// 	display: inline-block;
// 	margin: 0 12px;
// 	padding: 0;
// }
// footer .footer-social li a {
// 	color: #FFFFFF;
// }

