{{#>layout}}
	<div class="containter-fluid top-container">
		<div class="container">
			<div class="row">
				<h1 class="col-12 mb-5">Об авторе</h1>
				<hr>
				<div class="col-md-5 pt-5 mt-5 ml-auto">
				<p><i class="dropcap">К</i>аким бы ни был заказ — оформление аквапарка или комнаты в загородном доме&nbsp;— главным для меня всегда является концепция проекта. Это начало начал. Замысел, которому должны подчиняться стиль, идея скульптуры, ее техническое решение и даже чувства, что испытывают зрители. Искусства не бывает без концепции. Поэтому я всякий раз начинаю с глубокой проработки идеи и только затем берусь за инструмент. В работе мне помогают постоянное наблюдение за природой, художественное чутье и опыт. Все это дает возможность создавать максимально правдоподобные декорации, которые радуют заказчиков и окружающих.</p>

				<h6 style="text-align: right"><small>Евгений Козин</small></h6>

				</div>
				<div class="col-md-4">
					<img src="/assets/img/profile-pic3.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-12 mt-5 mb-5" style="border-bottom: 1px solid; width: 100%;"></div>
				<div class="col-md-6 ">
				<img src="/assets/img/k3.jpg" class="img-fluid mb-2" alt="">
				</div>
				<div class="col-md-6">
				<p>Евгений Козин получил академическое художественное образование в конце 2000-х. Вспоминает об этом как о времени свободы и творчества, когда за любимым делом можно было сутки проводить в мастерской. После учебы некоторое время преподавал живопись, однако вскоре обратился к скульптуре из арт-бетона. Говорит, что до скульптуры нужно было дорасти — стать тверже физически и психологически. </p>
				<p>
				Начинал с самой «грязной» работы — от замешивания раствора до заливки фундаментов. Промышленные объемы заказов помогли отточить мастерство. Тогда же сформировалось кредо художника: каждый заказ — это вызов, ты должен выполнить его максимально быстро и качественно. Не жди вдохновения, а просто делай работу - ее увидят и оценят люди, ты не можешь работать плохо.</p>
				<p>
				После пяти лет практики Евгений обратился к трехмерной скульптуре, сегодня называет этот жанр любимым. Сложные работы, требующие детальной и вдумчивой работы, они тем не менее способны поражать и увлекать зрителей как настоящее искусство.
				</p>
				</div>
		</div>
		</div>
	</div>

{{/layout}}