{{#>layout}}
	<div class="containter-fluid top-container">
		<div class="container">
			<div class="row">
				<h1 class="col-12 mb-5">Сфера применения</h1>
			<div class="col">
			<p>Экологичность и прочность арт-бетона позволяют без ограничений использовать его для внутренней, наружной отделки и в ландшафте. Пластичный и легкий, он незаменим для исправления строительных и ремонтных огрехов. Превосходно имитирует природные материалы, что позволяет привносить работы из арт-бетона в объекты любых стилей.</p>
			<p>Предлагаем перечень обычного применения материала. Список может быть расширен по предложениям заказчиков.</p>
			<h4>Арт-бетон в интерьере:</h4>
			
			<ul>
				<li>отделка душевых и ванных комнат, винных погребов;</li>
				<li>зонирование стен, создание кухонных фартуков;</li>
				<li>устройство напольных покрытий;</li>
				<li>создание предметов интерьера (каминов, столешниц, колонн);</li>
				<li>создание трехмерных скульптур.</li>
			</ul>

			<h4>Арт-бетон в экстерьере:</h4>

			<ul>
				<li>строительство ландшафтных парков;</li>
				<li>возведение и отделка капитальных стен;</li>
				<li>лепка карнизов и других элементов фасада зданий;</li>
				<li>декорирование колонн и балок;</li>
				<li>отделка бассейнов;</li>
				<li>создание уличной мебели и арт-объектов. </li>
			</ul>
			
			</div>

		</div>
		</div>
	</div>

{{/layout}}